<div class="full-page">
  <h2 style="max-width: 1100px;margin: 0 auto;padding: 20px;text-align: center;font-weight: bold;">ログイン</h2>
  <div class="user-login">
    <div class="form-all ">
      <span><%= image_tag "/images/うまログ.png", class: "logo" %></span>
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.label :name, "ニックネーム" %>: <%= f.text_field :name, autofocus: true, autocomplete: "name", style: "border: solid 1px;" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>: <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "border: solid 1px;" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :password, "パスワード" %>: <%= f.password_field :password, autocomplete: "current-password", style: "border: solid 1px;" %>
        </div>
        
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <button type='submit' class="form-btn">ログインする</button>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
