<div class="full-page">
  <h1 style="max-width: 1100px;margin: 0 auto;padding: 20px;">アカウント編集</h1>
  <div class="mypage-edit">
    <div class="form-all">
      <%= form_with model: @user, url: mypage_users_path, local: true, method: :put do |f| %>
        
        <span><%= image_tag "/images/うまログ.png", class: "logo" %></span>
        
        <div>
          <%= f.label :name, "ニックネーム" %>: <%= f.text_field :name, autofocus: true, autocomplete: "name", style: "border: solid 1px;" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>: <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "border: solid 1px;" %>
        </div>
        <br>
        <div>
          <button type='submit' class="form-btn">保存する</button>
        </div>
      <% end %>
      <div>
        <%= link_to "退会する", mypage_delete_users_path, method: :delete, local: true  %>
      </div>
    </div>
  </div>
</div>

