<div id="home" class="big-bg"></div>
<div class="main-contents">
  <article>
    <div class="index-page">
      <div class="index-product">
        <div style="max-width: 1100px;margin: 0 auto;padding: 20px;font-weight: bold;">
          <% if @genre.present? %>
            <%= link_to "トップ", "/", category: @major_category_name %> > <%= @genre.name %>
            <h1><%= @genre.name %>の商品一覧<%= @products.count %>件</h1>
            <%= form_with url: products_path, method: :get, local: true do |f| %>
              <%= f.hidden_field :sort_genre, value: @genre.id %>
              並び替え
              <% if @sorted.present? %>
                <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();" %>
              <% else %>
                <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();" %>
              <% end %>
            <% end %>
          <% else %>
            <h1>商品一覧</h1>
          <% end %>
        </div>
        <div class="index-display">
          <% @products.each do |product| %>
            <div class="product" id="product_<%= product.id %>">
              <%= link_to product_path(product) do %>
                <% if product.images.attached? %>
                  <% product.images.each do |image| %>
                    <%= image_tag image, class: "image" %>
                  <% end %>
                <% else %>
                  <%= image_tag "/images/dummy.png", class: "image" %>
                <% end %>
                <div style="padding: 0 5px;">
                  <%= product.name %>
                </div>
                <div class="product-display">
                  <div><%= product.genre.name %>/</div>
                  <div><%= product.company %></div>
                </div>
                <div style="padding: 0 5px;">
                  <%= score_on_star(product.recommend) %>
                </div>
                <div id="product_likes_<%= product.id %>" style="padding: 0 5px;">
                  <% if current_user.present? %>
                    <% if current_user.liked_by?(product.id) %>
                      <%= link_to destroy_like_path(product), method: :DELETE, remote: true do %>
                        <i class="fa fa-heart unlike-btn"></i>
                      <% end %>
                      <%= product.likes.count %>
                    <% else %>
                      <%= link_to create_like_path(product), method: :POST, remote: true do %>
                        <i class="fa fa-heart like-btn"></i>
                      <% end %>
                      <%= product.likes.count %>
                    <% end %>
                  <% else %>
                    <%= link_to  new_user_registration_path do %>
                      <i class="fa fa-heart like-btn"></i>
                    <% end %>
                    <%= product.likes.count %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <%= paginate @products %>
    </div>
  </article>
  <aside>
    <div>
      <p style="font-weight: bold;">ユーザー名</p>
    </div>
    <div class="index-avator-display">
      <% if user_signed_in? %>
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class: "user-image" %>
        <% else %>
          <i class="fas fa-user fa-3x"></i>
        <% end %>
        <div style="margin-top: 15px;margin-left: 10px;">
          <div><%= @user.name %></div>
          <div><%= @user.email %></div>
        </div>
      <% else %>
        <%= link_to "サインイン", new_user_registration_path %>
      <% end %>
    </div>
    <div class="side-title">
      <p style="font-weight: bold;">ジャンル</p>
    </div>
    <div>
      <%= render partial: "layouts/sidebar", locals: { categories: @genres, major_category_names: @major_category_names } %>
    </div>
  </aside>
</div>
<%= render "layouts/footer" %>