<div id="home" class="big-bg"></div>
<div class="main-contents">
  <article>
    <div class="index-page">
      <div class="index-product">
        <h1 style="max-width: 1100px;margin: 0 auto;padding: 20px;">商品一覧</h1>
        <div class="index-display">
          <% @products.each do |product| %>
            <div class="product">
              <%= link_to product_path(product) do %>
                <% if product.images.attached? %>
                  <%= image_tag product.image, class: "image" %>
                <% else %>
                  <%= image_tag "/images/dummy.png", class: "image" %>
                <% end %>
                <div style="padding: 0 5px;">
                  <%= product.name %>
                </div>
                <div class="product-display">
                  <div><%= product.genre.name %>/</div>
                  <div><%= product.company %></div>
                </div>
                <div style="padding: 0 5px;">
                  <%= score_on_star(product.recommend) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </article>
  <aside>
    <div class="side-title">
      <p style="font-weight: bold;">ジャンル</p>
    </div>
    <div>
      <%= render partial: "layouts/sidebar", locals: { categories: @genres, major_category_names: @major_category_names } %>
    </div>
  </aside>
</div>
