<div class="full-page">
  <h1 style="max-width: 1100px;margin: 0 auto;padding: 20px;font-weight: bold;">おすすめ登録</h1>
  <div class="form-all">
    <%= form_with model: @product do |f| %>
      <div>
        <%= f.label :name, "商品名" %>: <%= f.text_field :name, class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.label :recommend, "おすすめ度" %>: <%= f.select :recommend, @product_star_repeat_select, {}, class: "form-select" %>
      </div>
      <br>
      <div>
        <%= f.label :description, "おすすめポイント" %>: <%= f.text_area :description, class: "form-description" %>
      </div>
      <br>
      <div>
        <%= f.label :price, "値段" %>: <%= f.number_field :price, class: "form-price" %>
      </div>
      <br>
      <div>
        <%= f.label :genre, "ジャンル" %>: <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "選択してください") %>
      </div>
      <br>
      <div>
        <%= f.label :category, "味の種類" %>: <%= f.collection_select(:category_id, @categories, :id, :type_of_taste, prompt: "選択してください") %>
      </div>
      <br>
      <div>
        <%= f.label :taste, "味の濃さ" %>: <%= f.collection_select(:taste_id, @tastes, :id, :taste_intensity, prompt: "選択してください") %>
      </div>
      <br>
      <div>
        <%= f.label :instagram, "インスタ映えする？" %>: <%= f.check_box :instagram %>
      </div>
      <br>
      <div>
        <%= f.label :company, "会社名" %>: <%= f.text_field :company, class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.label :images, "商品写真" %>: <%= f.file_field :images, multiple: true %>
      </div>
      <br>
      <div>
        <button type='submit' class="form-btn" style="text-align: center;">登録する</button>
      </div>
    <% end %>
    <%= link_to "Back", root_path %>
  </div>
  <br>
</div>
<%= render "layouts/footer" %>