<div class="index-page">
  <h2 style="max-width: 1100px;margin: 0 auto;padding: 20px;">商品詳細ページ</h2>
  <%= link_to "戻る", products_path, class: "back-btn" %>
  <div class="product-show">
    <div class="index-show-display">
      <div>
        <% if @product.images.attached? %>
          <% @product.images.each do |image| %>
            <%= image_tag image, class: "show-image" %>
          <% end %>
        <% else %>
          <%= image_tag "/images/dummy.png", class: "show-image" %>
        <% end %>
        <h1 style="padding: 20px;">投稿者</h1>
        <div class="avator-display">
          <div style="padding: 20px;">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "user-image" %>
            <% else %>
              <i class="fas fa-user fa-3x"></i>
            <% end %>
          </div>
          <div style="margin: 34px;"><%= @user.name %>さん</div>
        </div>
      </div>
      <div>
        <div><label class="show-product-font">商品名:</label><%= @product.name %></div>
        <br>
        <div><label class="show-product-font">おすすめ度:</label><%= score_on_star(@product.recommend) %></div>
        <br>
        <div><label class="show-product-font">おすすめポイント:</label><%= @product.description %></div>
        <br>
        <div><label class="show-product-font">値段:</label><%= @product.price %>円</div>
        <br>
        <div><label class="show-product-font">ジャンル:</label><%= @product.genre.name %></div>
        <br>
        <div><label class="show-product-font">味の種類:</label><%= @product.category.type_of_taste %></div>
        <br>
        <div><label class="show-product-font">味の濃さ:</label><%= @product.taste.taste_intensity %></div>
        <br>
        <div><label class="show-product-font">会社名:</label><%= @product.company %></div>
        <br>
        <div id="product_likes_<%= @product.id %>">
          <%= render partial: "like" %>
        </div>
      </div>
    </div>
    <h1 class="review-zoon">レビューゾーン</h1>
    <% if user_signed_in? %>
      <div class="review-post">
        <div>
          <%= form_with model: @review, url: product_reviews_path(@product), remote: true  do |f| %>
            <h4 class="review-assess">評価</h4>
            <%= f.select :score, @star_repeat_select, {}, class: "review-score" %>
            <h4 class="review-assess">レビュー内容</h4>
            <%= f.text_area :content, class: "review-about" %>
            <div><%= f.submit "レビューを追加", class: "review-btn" %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <br>
    <div id="review">
      <%= render @reviews %>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>